{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/header_page.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/task.css' %}">
  <link rel="stylesheet" href="{% static 'css/task_detail.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <title>Register</title>
</head>

<body>
  <header class="header">
    <h1 class="header_logo">Pyrod</h1>

    <label for="menu" class="header_label">
      <img src="{% static 'menu.png' %}" style="width:40px ; display:block;">
    </label>
    <input type="checkbox" name="menu" id="menu"  class="header_input">
    
    <nav class="header_content_links">
      <a href="{% url 'home' %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url 'task' %}">Task</a>
        <a href="{% url 'create_task' %}">Create task</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'signup' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
      {% endif %}

    </nav>
  </header>

  {% block content %} 
  {% endblock %}
</body>
</html>